<h1>Article index</h1>

<table class="article-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
			<th>New</th>
			<th>Show</th>
			<th>Edit</th>
			<th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= article.body %></td>
				<td><%= link_to "New Article", new_article_path %></td>
				<td><%= link_to "Show Article", article_path(id: article.id) %></td>
				<td><%= link_to "Edit Article", edit_article_path(id: article.id) %></td>
				<td><%= link_to "Destroy Article", article_path(id: article.id),data: {
					turbo_method: :delete,
					turbo_confirm: "Are you sure?"} %></td>
			</tr>
    <% end %>
  </tbody>
</table>



